<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DATADBML.Properties.Settings.SIPIDBConnectionString2"
            connectionString="Data Source=DESKTOP-R1L1P8K\SIPI_SERVER;Initial Catalog=SIPIDB;User ID=sa;Password=asd123"
            providerName="System.Data.SqlClient" />
       
    </connectionStrings>
</configuration>